<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= @job.title %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 text-center">
            Description
          </div>
          <div class="col-md-6 text-center">
            Company Information
          </div>
        </div>
        <div class="well">
          <div class="row">
            <div class="col-md-6">
              <%= @job.description %>
            </div>
            <div class="col-md-6">
              <div>
                <%= @job.company.name %>
              </div>
              <br>
              <div>
                <%= @job.company.information %>
              </div>
            </div>
          </div>
        </div>
        <%= button_to "Add to Favorites", cart_jobs_path(job_id: @job.id), class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
</div>

