<div class="container">
  <h3>Create a Sale</h3>
  <div class="form">
    <%= form_for @sale, url: admin_sales_path, html: {method: :post} do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %><br>

      <%= f.label :discount %>
      <%= f.text_field :discount %><br>

      <%= f.label :items %>
      <%= f.collection_select(:items, Item.all, :id, :title, {}, {:multiple => true}) %>

      <%= f.submit %>

    <% end %>
  </div>
</div>
