<div class="container" id="login">
  <h3 id="title">Login</h3>
  <div class="form">
    <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.submit "Login" %>
    <% end  %>
  </div>
</div>
