<div class="row">
  <div class="coll-md-12">
    <h1><%= @item.title %> Details</h1>
  </div>
</div>

<div class="container" id="Item">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src=<%= @item.image %>></img>
        <h3 id="title"> <%= @item.title %> Details</h3>
        <%= @item.description %>
        <ul>
          <li class="price_and_quantity"><%= number_to_currency @item.final_price %></li>
          <%= link_to "Edit Item", edit_admin_item_path(@item) %>
        </div>
      </ul>
    </div>
  </div>
</div>
</div>
