<table class='table table-bordered table-hover'>
  <tr>
    <th>Job Title</th>
    <th>Description</th>
    <th>Posted</th>
    <th>Company Name</th>
    <th>Location</th>
  </tr>
  <% jobs.each do |job| %>
  <tr>
    <td><%= link_to job.title, company_job_path(job.company, job) %></td>
    <td><%= job.description %></td>
    <td><%= job.created_at %></td>
    <td><%= link_to job.company.name, company_path(job.company) %></td>
    <td><%= job.location %></td>
  </tr>
  <% end %>
</table>
