<div class="row">
  <div class="col-sm-12">
    <table class='table table-bordered table-hover'>
      <tr>
        <th>Job Title</th>
        <th>Description</th>
        <th>Posted</th>
        <th>Company Name</th>
        <th>Location</th>
      </tr>
      <% jobs.each do |job| %>
        <tr>
          <td><%= link_to job.title, job_path(job) %></td>
          <td><%= job.description %></td>
          <td><%= job.created_at %></td>
          <td><%= link_to job.company.name, "#" %></td>
          <td><%= job.location %></td>
        </tr>
      <% end %>
  </div>
</div>
