<div class="container" id="Item">

  <div id="job-thumbnail">
    <img src=<%= @job.image %>></img>
    <h3 id="title"> <%= @job.title %> Details</h3>
    <%= @job.description %>
    <ul>
      <li class="job"><%= @job.title %></li>
      <%= button_to "Favorite", job_applications_path(job_id: @job.id), class: "btn btn-success" %>
    </ul>
  </div>
</div>
