<ul class="thumbnails">
  <li class="left-col home-item">
    <div class="thumbnail">
      <% item = items.sample %>
      <%= link_to(item) do %>
      <img id="carousel-image" src=<%= (item.image) %> alt="...">
      <% end %>
    </div>
    <p><%=item.title%><br>
      <small class="red"><%=number_to_currency(item.price)%></small><br>
      <%= button_to "Add to cart", cart_items_path(item_id: item.id), class: "btn btn-success" %></p>
  </li>
      <li class="middle-col home-item">
        <div class="thumbnail">
          <% item = items.sample %>
          <%= link_to(item) do %>
          <img id="carousel-image" src=<%= (item.image) %> alt="...">
          <% end %>
        </div>
        <p><%=item.title%><br>
          <small class="red"><%=number_to_currency(item.price)%></small><br>
            <%= button_to "Add to cart", cart_items_path(item_id: item.id), class: "btn btn-success" %>
          </p>
          </li>
          <li class="right-col home-item">
            <div class="thumbnail">
              <% item = items.sample %>
              <%= link_to(item) do %>
              <img id="carousel-image" src=<%= (item.image) %> alt="...">
              <% end %>
            </div>
            <p><%=item.title%><br>
              <small class="red"><%=number_to_currency(item.price)%></small><br>
              <%= button_to "Add to cart", cart_items_path(item_id: item.id), class: "btn btn-success" %>
            </p>
              </li>
            </ul>
