<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li>
        <li class="active"><%= link_to "Items", items_path %></li>
        <li class="active"><%= link_to "Categories", categories_path %></li>
        <% if !current_user %>
        <li class="active"><%= link_to "Login", login_path %></li>
        <% else %>
        <li class="active"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% end %>
        <li class="active"><%= link_to "View Cart", cart_path %></li>
        <% if !current_user %>
        <li class="active"><%= link_to "Create Account", new_user_path  %>
        <% end %>
        <li class="active"><%= link_to "About Jurassic Parka", "#popup"%></li>
        <% if current_user %>
        <li class="active"><%= link_to "Logged in as #{current_user.username}", "#" %></li>
        <% end %>
        <li class="active"><% flash.each do |type, msg| %>
        <%= content_tag :div, msg.html_safe, class: "flash_#{type}" %>
        <% end %></li>
      </ul>
    </div>
  </div>
</nav>
<div id="popup" class="overlay">
       <div class="popup">
         <a class="close" href="">×</a>
         <div class="content">
           <p>Jurassic Parka was founded on the notion that
           dinosaurs of all shapes and sizes deserve access to the highest
           fashion available for all eras - not just Jurassic. Through rigorous
           study of the fashion industry from the Jurassic era until present
           day, along with the body types of the various (now extinct) species
           we believe we have successfully emobodied was it means to be
           "high fashion", whether you"re a carnivore, an herbivore, or somewhere
           in between. Omnivores - we don"t judge. You"re welcome at the Parka.</p>
         </div>
       </div>
     </div>
