<%= form_for(@user, html: {class: 'form-horizontal', multipart: true }) do |f| %>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :street_address, class: 'form-control', placeholder: 'Street Address'  %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :city, class: 'form-control', placeholder: 'City'  %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :state, class: 'form-control', placeholder: 'State'  %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :zipcode, class: 'form-control', placeholder: 'Zipcode'  %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.text_field :email, class: 'form-control', placeholder: 'Email'  %>
    </div>
  </div>
  <div class="field form-group">
    <div class="col-sm-12">
      <%= f.file_field :resume, class: 'form-control' %>
    </div>
  </div>

  <div class="actions form-group">
    <div class="col-sm-12">
      <%= f.submit "Update Account", class: "btn btn-primary pull-right" %>
    </div>
  </div>
<% end %>
