<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <strong>
            <%= @user.username.capitalize %>
          </strong>
          <div class="pull-right">
            <%= link_to "Edit Profile", edit_user_path(@user), method: :get, class: "btn btn-xs btn-primary" %>
          </div>
        </div>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <p>Your Previous Applications</p>
          </div>
          <div class="col-md-6 text-center">
            <p>Information</p>
          </div>
        </div>
        <div class="well">
          <div class="row">
            <div class="col-md-6">
              <%if current_user.role == "admin" %>
                <li><%= link_to "Admin Dashboard", admin_dashboard_path %></li>
              <% else %>
                <% if @applications %>
                  <% if @applications.size > 0 %>
                    <table id="applications">
                      <tr>
                        <th>Date Placed</th>
                        <th>Total Sent</th>
                        <th>Details</th>
                      </tr>
                      <% @applications.each do |application| %>
                        <tr>
                          <td><%= application.created_at.strftime("%m-%d-%Y") %></td>
                          <td><%= application.jobs.size %></td>
                          <td><%= link_to "View", application_path(application) %></td>
                        </tr>
                      <% end %>
                    </table>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="col-md-6 pull-right" id="user_show">
              <table id="applications">
                <% @applications.each do |application| %>
                  <tr>
                    <th class="text-right">Address:</th>
                    <td><%= @user.street_address %></td>
                  </tr>
                  <tr>
                    <th class="text-right">City:</th>
                    <td><%= @user.city %></td>
                  </tr>
                  <tr>
                    <th class="text-right">State:</th>
                    <td><%= @user.state %></td>
                  </tr>
                  <tr>
                    <th class="text-right">Zipcode:</th>
                    <td><%= @user.zipcode %></td>
                  </tr>
                  <tr>
                    <th class="text-right">Email:</th>
                    <td><%= @user.email %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




