<div class="welcome">
  <div id="banner_box">
    <h1 id="welcome">Welcome to</h1>
  </div>

<div id="featured"> <h3> Featured Items </h3> </div>
<div id="carousel" class="carousel slide" data-ride="carousel" data-interval="2500" data-wrap="true">
  <ol class="carousel-indicators">
    <li data-target="#item-1" data-slide-to="0" class="active"></li>
    <li data-target="#item-2" data-slide-to="1"></li>
    <li data-target="#item-3" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <% item = @items.sample %>
      <%= link_to(item) do %>
      <img style="max-height:17em" src=<%= (item.image) %> alt="...">
      <div class="carousel-caption">
        <h3><%= (item.title) %></h3>
      </div>
      <%end%>
    </div>
    <div class="item">
      <% item = @items.sample %>
      <%= link_to(item) do %>
      <img style="max-height:17em" src=<%= (item.image) %> alt="...">
      <div class="carousel-caption">
        <h3><%= (item.title) %></h3>
      </div>
      <%end%>
    </div>
    <div class="item">
      <% item = @items.sample %>
      <%= link_to(item) do %>
      <img style="max-height:17em" src=<%= (item.image) %> alt="...">
      <div class="carousel-caption">
        <h3><%= (item.title) %></h3>
      </div>
      <%end%>
    </div>
  </div>


  <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
</div>
