<div class='row'>
  <div class='col-md-8 col-md-offset-2 welcome'>

    <h1 id="welcome">Technically Employed </h1>
    <%= form_tag("/jobs", method: "get", class: "form-inline") do %>
      <div class="form-group">
        <%= label_tag(:search_title, "Job Title") %>
        <%= text_field_tag(:search_title) %>
      </div>
      <div class="form-group">
        <%= label_tag(:search_location, "City, State, or Zip Code") %>
        <%= text_field_tag(:search_location) %>
      </div>
      <%= hidden_field_tag(:searched, true) %>
      <button type="submit" class="btn btn-default" formaction="/jobs">Find Me A Job</button>
    <% end %>
  </div>
</div>
