<div class="row">
  <div class="col-md-10 col-md-offset-1" id="create">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 id="title"> "<%= @company.name %>" Details</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <h3>Company Information</h3>
            <%= @company.information %></br>
          </div>
          <div class="col-md-8">
            <h3>Jobs with <%= @company.name %></h3>
            <table class='table table-bordered table-hover'>
              <tr>
                <th>Job Title</th>
                <th>Posted</th>
                <th>Location</th>
              </tr>
              <% if @company.jobs %>
                <% @company.jobs.each do |job| %>
                  <% next if job.inactive? %>
                  <tr>
                    <td><%= link_to job.title, company_job_path(job.company, job) %></td>
                    <td><%= job.created_at %></td>
                    <td><%= job.location %></td>
                  </tr>
                <% end %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<!-- <div class="row"> -->
<!--   <div class="col&#45;md&#45;6 col&#45;md&#45;offset&#45;3" id="create"> -->
<!--     <div class="panel panel&#45;default"> -->
<!--       <div class="panel&#45;heading"> -->
<!--         <h3 class="panel&#45;title text&#45;center">Register Your Company</h3> -->
<!--       </div> -->
<!--       <div class="panel&#45;body"> -->
<!--         <%= form_for(@company, html: {class: 'form&#45;horizontal'}) do |f| %> -->
<!--           <div class="field form&#45;group"> -->
<!--             <%= f.label :name, class: 'col&#45;sm&#45;2 control&#45;label' %> -->
<!--             <div class="col&#45;sm&#45;10"> -->
<!--               <%= f.text_field :name, class: 'form&#45;control' %> -->
<!--             </div> -->
<!--           </div> -->
<!--  -->
<!--           <div class="field form&#45;group"> -->
<!--             <%= f.label :information, class: 'col&#45;sm&#45;2 control&#45;label' %> -->
<!--             <div class="col&#45;sm&#45;10"> -->
<!--               <%= f.text_field :information, class: 'form&#45;control' %> -->
<!--             </div> -->
<!--           </div> -->
<!--           <div class="actions form&#45;group"> <div class="col&#45;sm&#45;offset&#45;2 col&#45;sm&#45;10"> -->
<!--               <%= f.submit "Create Account" %> -->
<!--             </div> -->
<!--           </div> -->
<!--         <% end %> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
