<div class="row">
  <div class="col-sm-12">
    <table class='table table-bordered table-hover'>
      <tr>
        <th>Job Title</th>
        <th>Category</th>
        <th>Posted</th>
        <th>Company Name</th>
        <th>Location</th>
      </tr>
      <% items.each do |item| %>
        <tr>
          <td><%= item.title %></td>
          <td><%= item.title %></td>
          <td><%= item.title %></td>
          <td><%= item.title %></td>
          <td><%= item.title %></td>
        </tr>
      <% end %>
  </div>
</div>
