<div class="container" id="Item">
  <div class="row">
    <div class="col-md-6">
      <div class="thumbnail">
        <img src=<%= @item.image %>></img>
        <h3 id="title"> <%= @item.title %> Details</h3>
        <%= @item.description %>
        <ul>
          <li class="price_and_quantity"><%= number_to_currency @item.price %></li>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
              <%= button_to "Add to cart", cart_items_path(item_id: @item.id) %></button>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
