<div class="container" id="Item">

  <div id="item-thumbnail">
    <img src=<%= @item.image %>></img>
    <h3 id="title"> <%= @item.title %> Details</h3>
    <%= @item.description %>
    <ul>
      <li class="price_and_quantity"><%= number_to_currency @item.final_price %></li>
      <%= button_to "Add to cart", cart_items_path(item_id: @item.id), class: "btn btn-success" %>
    </ul>
  </div>
</div>
