<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <% if @cart_jobs.size > 0 %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center">Your Favorite Jobs</h3>
        </div>
        <div class="panel-body">
          <table id="CartTable">
            <tr>
              <th>Title</th>
              <th>Description</th>
            </tr>
            <% @cart_jobs.each do |cart_job| %>

              <tr class="cart-table">
                <td class="Title"><%= cart_job.title %></td>
                <td class="Description"><%= cart_job.description %></td>
                <td>
                  <%= button_to "Remove", cart_job_path(cart_job), method: :delete, class: "btn btn-xs" %>
                </td>
              </tr>
            <% end %>
          </table>
          <div class="checkout pull-right">
            <% if current_user && current_user.address == nil  %>
              <%= button_to "Apply to Jobs", applications_path, class: "btn btn-success checkout"  %>
            <% else %>
              <%= button_to "Apply to Jobs", login_path, method: :get, class: "btn btn-success checkout"  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
