<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if @cart_jobs.size > 0 %>
      <div class="centered center-block">
        <h1 id="CartTitle">Your Favorite Jobs</h1>
        </div>
      <div class="centered center-block">
        <table id="CartTable">
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
          <% @cart_jobs.each do |cart_job| %>

            <tr id="cart-table">
              <td id="Title"><%= cart_job.title %></td>
              <td id="Description"><%= cart_job.description %></td>
              <td>
                <%= button_to "Remove", cart_job_path(cart_job), method: :delete, class: "btn btn-xs" %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="checkout">
        <% if current_user && current_user.address == nil  %>
          <%= button_to "Apply to Jobs", new_user_address_path(current_user), method: :get, class: "btn btn-success checkout"  %>
        <% elsif current_user%>
          <%= button_to "Apply to Jobs", applications_path, class: "btn btn-success checkout"  %>
        <% else %>
          <%= button_to "Apply to Jobs", login_path, method: :get, class: "btn btn-success checkout"  %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
